<h1>Products</h1>
<div>
    <h2>¡Welcome!</h2>
    <p>name: {{user.name}}</p>
    <p>age: {{user.age}}</p>
    <p>email: {{user.email}}</p>
</div>
<br>
<br>
<div>
    <ul>
    {{#each products}}
        <li>{{name}} - {{price}}</li>
    {{/each}}
</ul>
</div>

<a href="/api/sessions/logout">
    <button>Leave</button>
</a>